<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- BLE permissions (Android 12+ / API 31+) -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Location required for BLE scanning on Android 11 and below -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Declare BLE hardware requirement -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <application
        android:label="Loki PSU"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- OAuth redirect handler for social sign-in (flutter_web_auth_2).
                 Scheme matches the redirect URI registered with the ESP RainMaker
                 Cognito app client: com.espressif.rainmaker.softap://success -->
            <intent-filter android:label="oauth_redirect">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="com.espressif.rainmaker.softap"
                    android:host="success" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
